*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-blue-dark: #09396A;
    --clr-blue-light: #8AC0F8;
    --clr-blue: #2163A8;
    --clr-grey: #D3D3D3;
}

body {
    background-color: var(--clr-blue-dark);
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
   margin-top: 20px;
   margin-bottom: 10px;
}

.logo img {
    width: 125px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 60px;
}

.invoice-data {
    display: flex;
}

.invoice-data-el {
    margin-left: 60px;
}

.invoice-data h2 {
    font-size: 1.2rem;
    color: white;
    font-weight: 700;
    margin-top: 15px;
}

.invoice-data p {
    font-size: .7rem;
    color: white;
    text-transform: uppercase;
    margin-bottom:0;
    letter-spacing: .2rem;
}

.invoice-data-num {
    color: var(--clr-blue-light);
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: .1rem;
}

.content {
    margin: 0;
    background-color: var(--clr-blue);
    min-height: 80vh;
    display: flex;
}

.side-bar {
    width: 160px;
}

.info {
    background-color: white;
    width:420px;
}

.info .summary {
    border: 1px solid var(--clr-grey);
    padding:10px;
    margin:20px;
    border-radius: 4px;
}